<div class="flex items-baseline space-y-6">
    <img class="w-16 h-16 mr-3" src="v1/assets/nav-icons/education.png" alt="education">
    <h1 class="text-3xl md:text-3xl lg:text-4xl font-semibold">Education</h1>
</div>
<div class="mt-6 space-y-6">
    <div class="bg-gray-900 p-4 rounded-lg">
        <h3 class="text-md md:text-xl font-semibold">Bobonan Central School</h3>
        <time class="text-xs text-gray-300">2005 - 2011</time>
    </div>
    <div class="bg-gray-900 p-4 rounded-lg">
        <h3 class="text-md md:text-xl font-semibold">Bobonan Laoac Batakil Natiional High School</h3>
        <time class="text-xs text-gray-300">2011 - 2015</time>
    </div>
    <div class="bg-gray-900 p-4 rounded-lg">
        <h3 class="text-md md:text-xl font-semibold">STI Parañaque</h3>
        <h4 class="text-sm md:text-md font-semibold">Bachelor of Science in Information Technology</h4>
        <time class="text-xs text-gray-300">2015 - 2019</time>
    </div>
</div>

<div w3-include-html="v1/components/skills.html"></div>
