<div class="space-y-3 md:space-y-6">
    <h1 class="text-3xl md:text-3xl lg:text-4xl font-semibold">About Me</h1>
    <p class="text-gray-300 text-sm md:text-md lg:text-lg text-justify">Full Stack Developer with 5 years of experience.
        Proficient
        in a wide
        array of programming languages, I excel in both backend and frontend development. A collaborative team player, I
        navigate the development process seamlessly, bringing technical expertise and effective communication to the
        table. Continuous improvement is my mantra, ensuring I stay ahead in the ever-evolving tech landscape. Let's
        connect and explore how my skills can contribute to your projects!
    </p>
</div>
<div class="space-y-6">
    <h1 class="text-2xl md:text-2xl lg:text-3xl font-semibold">What i do!</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-1 gap-6">
        <div class=" flex justify-center items-center space-x-6 px-10 py-10 bg-gray-900 rounded-md overflow-hidden">
            <img class="w-[20%] my-auto" src="v1/assets/images/front-end.webp" alt="">
            <div class="space-y-1">
                <h1 class="text-md lg:text-xl font-semibold">
                    Front-End</h1>
                <p class="text-justify text-gray-300 text-md">I specialize in crafting engaging
                    and
                    responsive user interfaces using the latest front-end technologies. My proficiency includes:
                </p>
                <ul class="list-disc pl-5 space-y-2 mt-3">
                    <li class="text-justify text-gray-300 text-sm md:text-md">HTML5, CSS3, and JavaScript for building
                        the foundation of web applications.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">React.js / Vue.js / Livewire for creating
                        dynamic and interactive user interfaces.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">Responsive design principles to ensure a
                        seamless experience across devices.</li>
                </ul>
            </div>
        </div>
        <div
            class="relative flex justify-center items-center space-x-6 px-10 py-10 bg-gray-900 rounded-md overflow-hidden">
            <img class="w-[20%] my-auto" src="v1/assets/images/back-end.webp" alt="">
            <div class="space-y-1">
                <h1 class="text-md lg:text-xl font-semibold">
                    Back-End</h1>
                <p class="text-justify text-gray-300 text-md">On the server-side, I excel in designing robust and
                    scalable architectures. My back-end skills include:
                </p>
                <ul class="list-disc pl-5 space-y-2 mt-3">
                    <li class="text-justify text-gray-300 text-sm md:text-md">Server-side languages such as PHP,
                        JavaScript, or Lua</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">Database management using SQL (e.g.,
                        MySQL, PostgreSQL) and NoSQL (e.g., MongoDB) databases.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">Responsive design principles to ensure a
                        RESTful API design and implementation for seamless communication between front-end and back-end.
                    </li>
                </ul>
            </div>
        </div>
        <div
            class="relative flex justify-center items-center space-x-6 px-10 py-10 bg-gray-900 rounded-md overflow-hidden">
            <img class="w-[20%] my-auto" src="v1/assets/images/gaming.webp" alt="">
            <div class="space-y-1">
                <h1 class="text-md lg:text-xl font-semibold">
                    Gaming</h1>
                <p class="text-justify text-gray-300 text-md">I'm a dedicated gaming enthusiast. Whether it's exploring
                    vast virtual worlds, conquering competitive challenges, or immersing myself in captivating
                    narratives, gaming is my passion.
                </p>
                <ul class="list-disc pl-5 space-y-2 mt-3">
                    <li class="text-justify text-gray-300 text-sm md:text-md">Favorite Genres:
                        I have a diverse taste in games, from intense FPS titles to strategy games and everything in
                        between.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">Platforms:
                        Equally comfortable on PC, console, and maybe even a handheld device. The platform doesn't
                        matter; the gaming experience does.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">Online and Offline Adventures:
                        I enjoy both solo campaigns and multiplayer adventures, relishing the unique experiences each
                        offers.</li>
                </ul>
            </div>
        </div>
    </div>
</div>