<div x-cloak x-show="open == `Home`" x-transition:enter="delay-100 transition ease-out duration-1000"
    x-transition:enter-start="opacity-0 translate-y-32" x-transition:enter-end="opacity-100 translate-y-0"
    class="about-me-el flex items-baseline space-y-6">
    <img class="w-16 h-16 mr-3" src="v1/assets/nav-icons/about-me.png" alt="about-me">
    <h1 class="text-3xl md:text-3xl lg:text-4xl font-semibold">About me</h1>
</div>
<p x-cloak x-show="open == `Home`" x-transition:enter="delay-300 transition ease-out duration-1000"
    x-transition:enter-start="opacity-0 translate-y-32" x-transition:enter-end="opacity-100 translate-y-0"
    class="text-gray-300 text-sm md:text-md lg:text-lg text-justify">
    Full Web Stack Developer with more than 5 years of experience. Proficient in a wide
    array of programming languages, I excel in both backend and frontend development. A collaborative team player, I
    navigate the development process seamlessly, bringing technical expertise and effective communication to the
    table. Continuous improvement is my mantra, ensuring I stay ahead in the ever-evolving tech landscape. Let's
    connect and explore how my skills can contribute to your projects!
</p>
<div x-cloak x-show="open == `Home`" x-transition:enter="delay-100 transition ease-out duration-1000"
    x-transition:enter-start="opacity-0 translate-y-32" x-transition:enter-end="opacity-100 translate-y-0"
    class="space-y-6">
    <div class="flex items-center">
        <img class="w-16 h-16 mr-3 " src="v1/assets/nav-icons/what-i-do.gif" alt="what-i-do">
        <h1 class="text-2xl md:text-3xl lg:text-4xl font-semibold">What i do</h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-6">
        <div x-cloak x-show="open == `Home`" x-transition:enter="delay-300 transition ease-out duration-1000"
            x-transition:enter-start="opacity-0 translate-y-32" x-transition:enter-end="opacity-100 translate-y-0"
            class="flex flex-col md:flex-row justify-center items-center space-x-0 md:space-x-6 space-y-6 md:space-y-0 p-5 md:p-10 bg-gray-900 rounded-md">
            <img class="w-[60%] md:w-[30%] lg:w-[30%] xl:w-[20%] my-auto" src="v1/assets/images/front-end.webp" alt="">
            <div class="space-y-1">
                <h1 class="text-md lg:text-xl font-semibold">
                    Front-End</h1>
                <p class="text-justify text-gray-300 text-md">I specialize in building engaging, high-performance user
                    interfaces with modern front-end technologies. My expertise includes:</p>
                <ul class="list-disc pl-5 space-y-2 mt-3">
                    <li class="text-justify text-gray-300 text-sm md:text-md">Core Web Technologies: HTML5, CSS3, SCSS,
                        and JavaScript for structuring and styling dynamic applications.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">JavaScript Frameworks & Libraries:
                        Proficient in React.js, Vue.js, Alpine.js, Livewire, and jQuery for creating interactive,
                        state-driven UIs.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">Styling & UI Frameworks: Skilled in
                        Tailwind CSS, Bootstrap, and SCSS to craft visually appealing and responsive designs.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">Cross-Platform Development: Experience
                        with Flutter for mobile applications and Cocos2dx for game development.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">Responsive & Performance-Optimized
                        Designs: Ensuring seamless user experiences across all devices with accessibility and
                        performance in mind.</li>
                </ul>
            </div>
        </div>
        <div x-cloak x-show="open == `Home`" x-transition:enter="delay-500 transition ease-out duration-1000"
            x-transition:enter-start="opacity-0 translate-y-32" x-transition:enter-end="opacity-100 translate-y-0"
            class="flex flex-col md:flex-row justify-center items-center space-x-0 md:space-x-6 space-y-6 md:space-y-0 p-5 md:p-10 bg-gray-900 rounded-md">
            <img class="w-[60%] md:w-[30%] lg:w-[30%] xl:w-[20%] my-auto" src="v1/assets/images/back-end.webp" alt="">
            <div class="space-y-1">
                <h1 class="text-md lg:text-xl font-semibold">
                    Back-End</h1>
                <p class="text-justify text-gray-300 text-md">I excel in building robust, scalable, and efficient
                    server-side architectures to power dynamic web applications. My expertise includes:
                </p>
                <ul class="list-disc pl-5 space-y-2 mt-3">
                    <li class="text-justify text-gray-300 text-sm md:text-md">Server-Side Programming: Proficient in
                        PHP, JavaScript, Lua, and Python for developing efficient back-end logic.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">Frameworks & Platforms: Experienced in
                        Laravel, Livewire, and ThinkPHP for structured and scalable web applications.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">Database Management: Skilled in SQL
                        databases like MySQL and PostgreSQL, as well as NoSQL solutions like MongoDB and Redis for
                        optimized data storage.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">API Development: Expertise in designing
                        and implementing RESTful APIs for seamless front-end and back-end communication.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">Deployment & DevOps: Skilled in Linux
                        server environments, Git, and Bitbucket for version control and collaboration. Proficient in
                        Laravel Forge for deployment and DigitalOcean for cloud hosting. Experienced in AWS services
                        (EC2, RDS, S3, Lambda, IAM) for optimizing cloud infrastructure, scalability, and file
                        management.</li>
                </ul>
            </div>
        </div>
        <div x-cloak x-show="open == `Home`" x-transition:enter="delay-700 transition ease-out duration-1000"
            x-transition:enter-start="opacity-0 translate-y-32" x-transition:enter-end="opacity-100 translate-y-0"
            class="flex flex-col md:flex-row justify-center items-center space-x-0 md:space-x-6 space-y-6 md:space-y-0 p-5 md:p-10 bg-gray-900 rounded-md">
            <img class="w-[60%] md:w-[30%] lg:w-[30%] xl:w-[20%] my-auto" src="v1/assets/images/gaming.webp" alt="">
            <div class="space-y-1">
                <h1 class="text-md lg:text-xl font-semibold">
                    Gaming</h1>
                <p class="text-justify text-gray-300 text-md">I'm a dedicated gaming enthusiast. Whether it's exploring
                    vast virtual worlds, conquering competitive challenges, or immersing myself in captivating
                    narratives, gaming is my passion.
                </p>
                <ul class="list-disc pl-5 space-y-2 mt-3">
                    <li class="text-justify text-gray-300 text-sm md:text-md">Favorite Genres:
                        I have a diverse taste in games, from intense FPS titles to strategy games and everything in
                        between.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">Platforms:
                        Equally comfortable on PC, console, and maybe even a handheld device. The platform doesn't
                        matter; the gaming experience does.</li>
                    <li class="text-justify text-gray-300 text-sm md:text-md">Online and Offline Adventures:
                        I enjoy both solo campaigns and multiplayer adventures, relishing the unique experiences each
                        offers.</li>
                </ul>
            </div>
        </div>
    </div>
</div>