<div class="space-y-6">
    <h1 class="text-3xl md:text-3xl lg:text-4xl font-semibold">Projects</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-3">
        <div class="flex flex-col bg-gray-900 rounded-lg overflow-hidden pb-3">
            <img src="v1/assets/images/image1.jfif">
            <h1 class="text-md px-3 text-gray-300 mt-3">Booking Management</h1>
            <h1 class="text-xl px-3">Company Name</h1>
        </div>
        <div class="flex flex-col bg-gray-900 rounded-lg overflow-hidden pb-3">
            <img src="v1/assets/images/image2.jfif">
            <h1 class="text-md px-3 text-gray-300 mt-3">Booking Management</h1>
            <h1 class="text-xl px-3">Company Name</h1>
        </div>
        <div class="flex flex-col bg-gray-900 rounded-lg overflow-hidden pb-3">
            <img src="v1/assets/images/image3.jfif">
            <h1 class="text-md px-3 text-gray-300 mt-3">Booking Management</h1>
            <h1 class="text-xl px-3">Company Name</h1>
        </div>
        <div class="flex flex-col bg-gray-900 rounded-lg overflow-hidden pb-3">
            <img src="v1/assets/images/image3.jfif">
            <h1 class="text-md px-3 text-gray-300 mt-3">Booking Management</h1>
            <h1 class="text-xl px-3">Company Name</h1>
        </div>
        <div class="flex flex-col bg-gray-900 rounded-lg overflow-hidden pb-3">
            <img src="v1/assets/images/image1.jfif">
            <h1 class="text-md px-3 text-gray-300 mt-3">Booking Management</h1>
            <h1 class="text-xl px-3">Company Name</h1>
        </div>
        <div class="flex flex-col bg-gray-900 rounded-lg overflow-hidden pb-3">
            <img src="v1/assets/images/image2.jfif">
            <h1 class="text-md px-3 text-gray-300 mt-3">Booking Management</h1>
            <h1 class="text-xl px-3">Company Name</h1>
        </div>
    </div>
</div>