<div class="space-y-6">
    <h1 class="text-3xl md:text-3xl lg:text-4xl font-semibold">Resume</h1>
</div>

<div class="grid grid-cols-2 gap-12">
    <div class="col-span-2 md:col-span-2 lg:col-span-1">
        <div class="flex items-start space-x-2">
            <svg class="w-9 h-9" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path fill="none" d="M0 0h24v24H0V0z"></path>
                <path
                    d="M12 3L1 9l4 2.18v6L12 21l7-3.82v-6l2-1.09V17h2V9L12 3zm6.82 6L12 12.72 5.18 9 12 5.28 18.82 9zM17 15.99l-5 2.73-5-2.73v-3.72L12 15l5-2.73v3.72z">
                </path>
            </svg>
            <div class="text-lg md:text-2xl font-semibold ">Education</div>
        </div>
        <div class="mt-6 space-y-6">
            <div class="bg-gray-900 p-4 rounded-lg">
                <h3 class="text-md md:text-xl font-semibold">Bobonan Central School</h3>
                <time class="text-xs text-gray-300">2015 - 2019</time>
            </div>
            <div class="bg-gray-900 p-4 rounded-lg">
                <h3 class="text-md md:text-xl font-semibold">Bobonan Laoac Batakil Natiional High School</h3>
                <time class="text-xs text-gray-300">2015 - 2019</time>
            </div>
            <div class="bg-gray-900 p-4 rounded-lg">
                <h3 class="text-md md:text-xl font-semibold">STI Parañaque</h3>
                <h4 class="text-sm md:text-md font-semibold">Bachelor of Science in Information Technology</h4>
                <time class="text-xs text-gray-300">2015 - 2019</time>
            </div>
        </div>
    </div>
    <div w3-include-html="v1/components/work-experience.html" class="col-span-2 md:col-span-2 lg:col-span-1">
    </div>
    <div w3-include-html="v1/components/skills.html" class="col-span-2"></div>
</div>