<div class="space-y-6">
    <h1 class="text-3xl md:text-3xl lg:text-4xl font-semibold">Resume</h1>
</div>

<div class="grid grid-cols-2 gap-12">
    <div class="col-span-2 md:col-span-2 lg:col-span-1">
        <div class="flex items-start space-x-2">
            <svg class="w-9 h-9" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path fill="none" d="M0 0h24v24H0V0z"></path>
                <path
                    d="M12 3L1 9l4 2.18v6L12 21l7-3.82v-6l2-1.09V17h2V9L12 3zm6.82 6L12 12.72 5.18 9 12 5.28 18.82 9zM17 15.99l-5 2.73-5-2.73v-3.72L12 15l5-2.73v3.72z">
                </path>
            </svg>
            <div class="text-lg md:text-2xl font-semibold ">Education</div>
        </div>
        <div class="mt-6 space-y-6">
            <div class="bg-gray-900 p-4 rounded-lg">
                <h3 class="text-md md:text-xl font-semibold">Bobonan Central School</h3>
                <time class="text-xs text-gray-300">2015 - 2019</time>
            </div>
            <div class="bg-gray-900 p-4 rounded-lg">
                <h3 class="text-md md:text-xl font-semibold">Bobonan Laoac Batakil Natiional High School</h3>
                <time class="text-xs text-gray-300">2015 - 2019</time>
            </div>
            <div class="bg-gray-900 p-4 rounded-lg">
                <h3 class="text-md md:text-xl font-semibold">STI Parañaque</h3>
                <h4 class="text-sm md:text-md font-semibold">Bachelor of Science in Information Technology</h4>
                <time class="text-xs text-gray-300">2015 - 2019</time>
            </div>
        </div>
    </div>
    <div class="col-span-2 md:col-span-2 lg:col-span-1">
        <div class="flex items-end space-x-2">
            <svg class="w-9 h-9" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path fill="none" d="M0 0h24v24H0V0z"></path>
                <path
                    d="M20 7h-4V5l-2-2h-4L8 5v2H4c-1.1 0-2 .9-2 2v5c0 .75.4 1.38 1 1.73V19c0 1.11.89 2 2 2h14c1.11 0 2-.89 2-2v-3.28c.59-.35 1-.99 1-1.72V9c0-1.1-.9-2-2-2zM10 5h4v2h-4V5zM4 9h16v5h-5v-3H9v3H4V9zm9 6h-2v-2h2v2zm6 4H5v-3h4v1h6v-1h4v3z">
                </path>
            </svg>
            <div class="text-lg md:text-2xl font-semibold">Work Experience</div>
        </div>
        <div
            class="mt-6 space-y-12 relative px-4 space-y-8 before:absolute before:top-2 before:bottom-0 before:w-0.5 before:-left-13 md:before:-left-13 lg:before:-left-3 before:bg-blue-900">
            <div
                class="hover:border border-blue-600 ml-7 lg:ml-0 p-4 rounded-lg bg-gray-900 flex flex-col relative before:absolute before:top-2 before:w-4 before:h-4 before:rounded-full before:left-[-35px] before:bg-blue-500">
                <div class="flex flex-col md:flex-row justify-start items-center space-x-3">
                    <img class="w-[60%] md:w-[20%] my-auto" src="v1/assets/images/capex-logo.png" alt="">
                    <div>
                        <h3 class="text-xl font-semibold">Cargo Padala Express</h3>
                        <h4 class="text-md font-semibold">Full Stack Web Developer</h4>
                        <time class="text-xs uppercase text-gray-400">Full-time: Aug. 2019 - Sept. 2022</time>
                    </div>
                </div>
                <div class="pt-5 pb-2">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span class="text-lg font-semibold">Development Stacks</span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <div class="flex flex-wrap gap-3 mt-3 ml-3 group-open:animate-fadeIn">
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/bootstrap.png" alt="bootstrap">
                                Bootstrap</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/alpine-js.png" alt="alpine-js">
                                Alpine js</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/tailwind-css.png"
                                    alt="tailwind-css">
                                Tailwind CSS</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/livewire.ico" alt="livewire">
                                Livewire</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/javascript.png" alt="javascript">
                                Javascript</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/jquery.png" alt="jquery">
                                Jquery</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/mysql.png" alt="mysql">
                                MySQL</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/php.png" alt="php">
                                PHP</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/laravel.png" alt="laravel">
                                Laravel</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/github.png" alt="git">
                                Git</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/bitbucket.png" alt="bitbucket">
                                Bitbucket</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/linux.png" alt="linux">
                                Linux</span>
                        </div>
                    </details>
                </div>
                <div class="grid divide-y divide-neutral-200 max-w-xl mt-3">
                    <div class="py-5">
                        <details class="group">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                                <span>Warehouse Management System</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" shape-rendering="geometricPrecision"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                        <path d="M6 9l6 6 6-6"></path>
                                    </svg>
                                </span>
                            </summary>
                            <p class="mt-3 ml-3 group-open:animate-fadeIn">
                                --------
                            </p>
                        </details>
                    </div>
                    <div class="py-5">
                        <details class="group">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                                <span>Accouting System</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" shape-rendering="geometricPrecision"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                        <path d="M6 9l6 6 6-6"></path>
                                    </svg>
                                </span>
                            </summary>
                            <p class="mt-3 ml-3 group-open:animate-fadeIn">
                                --------
                            </p>
                        </details>
                    </div>
                    <div class="py-5">
                        <details class="group">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                                <span>H.R Information Management System</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" shape-rendering="geometricPrecision"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                        <path d="M6 9l6 6 6-6"></path>
                                    </svg>
                                </span>
                            </summary>
                            <p class="mt-3 ml-3 group-open:animate-fadeIn">
                                --------
                            </p>
                        </details>
                    </div>
                    <div class="py-5">
                        <details class="group">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                                <span>Booking Management System</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" shape-rendering="geometricPrecision"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                        <path d="M6 9l6 6 6-6"></path>
                                    </svg>
                                </span>
                            </summary>
                            <p class="mt-3 ml-3 group-open:animate-fadeIn">
                                --------
                            </p>
                        </details>
                    </div>
                    <div class="py-5">
                        <details class="group">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                                <span>E-commerce</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" shape-rendering="geometricPrecision"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                        <path d="M6 9l6 6 6-6"></path>
                                    </svg>
                                </span>
                            </summary>
                            <p class="mt-3 ml-3 group-open:animate-fadeIn">
                                --------
                            </p>
                        </details>
                    </div>
                </div>
                <!-- <p class="mt-3 text-justify text-gray-300">Pellentesque feugiat ante at nisl efficitur, in mollis orci
                    scelerisque.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus.</p> -->
            </div>
            <div
                class="hover:border border-blue-600 ml-7 lg:ml-0 p-4 rounded-lg bg-gray-900 flex flex-col relative before:absolute before:top-2 before:w-4 before:h-4 before:rounded-full before:left-[-35px] before:bg-blue-500">
                <div class="flex flex-col md:flex-row justify-start items-center space-x-3">
                    <img class="w-[50%] md:w-[20%] my-auto" src="v1/assets/images/ragoa-logo.jpg" alt="">
                    <div>
                        <h3 class="text-xl font-semibold">RAGOA Business Solutions</h3>
                        <h4 class="text-md font-semibold">Full Stack Web Developer</h4>
                        <time class="text-xs uppercase text-gray-400">Freelance: Jan. 2021 - Current</time>
                    </div>
                </div>
                <div class="pt-5 pb-2">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span class="text-lg font-semibold">Development Stacks</span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <div class="flex flex-wrap gap-3 mt-3 ml-3 group-open:animate-fadeIn">
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/alpine-js.png" alt="alpine-js">
                                Alpine js</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/tailwind-css.png"
                                    alt="tailwind-css">
                                Tailwind CSS</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/livewire.ico" alt="livewire">
                                Livewire</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/javascript.png" alt="javascript">
                                Javascript</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/jquery.png" alt="jquery">
                                Jquery</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/mysql.png" alt="mysql">
                                MySQL</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/php.png" alt="php">
                                PHP</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/laravel.png" alt="laravel">
                                Laravel</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/github.png" alt="git">
                                Git</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/bitbucket.png" alt="bitbucket">
                                Bitbucket</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/linux.png" alt="linux">
                                Linux</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-6 h-6 pr-1" src="v1/assets/skill-icons/laravel-forge.png"
                                    alt="laravel-forge">
                                Laravel Forge</span>
                        </div>
                    </details>
                </div>

                <div class="grid divide-y divide-neutral-200 max-w-xl mt-3">
                    <div class="py-5">
                        <details class="group">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                                <span>Booking Management System</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" shape-rendering="geometricPrecision"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                        <path d="M6 9l6 6 6-6"></path>
                                    </svg>
                                </span>
                            </summary>
                            <p class="mt-3 ml-3 group-open:animate-fadeIn">
                                --------
                            </p>
                        </details>
                    </div>
                    <div class="py-5">
                        <details class="group">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                                <span>Content Management System</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" shape-rendering="geometricPrecision"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                        <path d="M6 9l6 6 6-6"></path>
                                    </svg>
                                </span>
                            </summary>
                            <p class="mt-3 ml-3 group-open:animate-fadeIn">
                                --------
                            </p>
                        </details>
                    </div>
                    <div class="py-5">
                        <details class="group">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                                <span>Delivery Management System</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" shape-rendering="geometricPrecision"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                        <path d="M6 9l6 6 6-6"></path>
                                    </svg>
                                </span>
                            </summary>
                            <p class="mt-3 ml-3 group-open:animate-fadeIn">
                                --------
                            </p>
                        </details>
                    </div>
                    <div class="py-5">
                        <details class="group">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                                <span>Voting Management System</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" shape-rendering="geometricPrecision"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                        <path d="M6 9l6 6 6-6"></path>
                                    </svg>
                                </span>
                            </summary>
                            <p class="mt-3 ml-3 group-open:animate-fadeIn">
                                --------
                            </p>
                        </details>
                    </div>
                    <div class="py-5">
                        <details class="group">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                                <span>E-commerce</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" shape-rendering="geometricPrecision"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                        <path d="M6 9l6 6 6-6"></path>
                                    </svg>
                                </span>
                            </summary>
                            <p class="mt-3 ml-3 group-open:animate-fadeIn">
                                --------
                            </p>
                        </details>
                    </div>
                    <div class="py-5">
                        <details class="group">
                            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                                <span>School Management System</span>
                                <span class="transition group-open:rotate-180">
                                    <svg fill="none" height="24" shape-rendering="geometricPrecision"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                        <path d="M6 9l6 6 6-6"></path>
                                    </svg>
                                </span>
                            </summary>
                            <p class="mt-3 ml-3 group-open:animate-fadeIn">
                                --------
                            </p>
                        </details>
                    </div>
                </div>
                <!-- <p class="mt-3 text-justify text-gray-300">Morbi vulputate aliquam libero non dictum. Aliquam sit amet
                    nunc ut
                    diam
                    aliquet tincidunt nec nec dui. Donec mollis turpis eget egestas sodales.</p> -->
            </div>
            <div
                class="hover:border border-blue-600 ml-7 lg:ml-0 p-4 rounded-lg bg-gray-900 flex flex-col relative before:absolute before:top-2 before:w-4 before:h-4 before:rounded-full before:left-[-35px] before:bg-blue-500">
                <h3 class="text-xl font-semibold">Infinite Evolution Technology Incorporation</h3>
                <h4 class="text-md font-semibold">Full Stack Web & 2d Game Developer</h4>
                <time class="text-xs uppercase text-gray-400">Oct. 2022 - Sept. 2023</time>
                <div class="pt-5 pb-2">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span class="text-lg font-semibold">Development Stacks</span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <div class="flex flex-wrap gap-3 mt-3 ml-3 group-open:animate-fadeIn">
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/alpine-js.png" alt="alpine-js">
                                Alpine js</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/tailwind-css.png"
                                    alt="tailwind-css">
                                Tailwind CSS</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/javascript.png" alt="javascript">
                                Javascript</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/jquery.png" alt="jquery">
                                Jquery</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/mysql.png" alt="mysql">
                                MySQL</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/php.png" alt="php">
                                PHP</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/thinkphp.ico" alt="thinkphp">
                                ThinkPHP</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/github.png" alt="git">
                                Git</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/bitbucket.png" alt="bitbucket">
                                Bitbucket</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-9 pr-1" src="v1/assets/skill-icons/cocos2dx.png" alt="cocos2dx">
                                Cocos2dx</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/lua.png" alt="lua">
                                Lua</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/python.png" alt="python">
                                Python</span>
                        </div>
                    </details>
                </div>
                <ul class="list-disc ml-7 mt-3 text-sm space-y-2">
                    <li class="text-justify">Developed and maintained a scalable web application using CSS, PHP,
                        ThinkPHP and MySQL.</li>
                    <li class="text-justify">Developed and maintained a scalable mobile game application using Cocos2dx
                        and Lua.</li>
                    <li class="text-justify">Implemented RESTful APIs to communicate between front-end and back-end
                        system of the game.</li>
                    <li class="text-justify">Collaborated with product management to prioritize and deliver new features
                        on time.</li>
                    <li class="text-justify">Participated in code reviews, identified bugs, and implemented necessary
                        fixes.</li>
                </ul>
            </div>
            <div
                class="hover:border border-blue-600 ml-7 lg:ml-0 p-4 rounded-lg bg-gray-900 flex flex-col relative before:absolute before:top-2 before:w-4 before:h-4 before:rounded-full before:left-[-35px] before:bg-blue-500">
                <div class="flex flex-col md:flex-row justify-start items-center space-x-3">
                    <img class="w-[40%] md:w-[20%] my-auto" src="v1/assets/images/feiwin-logo.png" alt="">
                    <div>
                        <h3 class="text-xl font-semibold">FEIWIN</h3>
                        <h4 class="text-md font-semibold">Full Stack Web Developer</h4>
                        <time class="text-xs uppercase text-gray-400">Oct. 2023 - Current</time>
                    </div>
                </div>
                <div class="pt-5 pb-2">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span class="text-lg font-semibold">Development Stacks</span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <div class="flex flex-wrap gap-3 mt-3 ml-3 group-open:animate-fadeIn">
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/alpine-js.png" alt="alpine-js">
                                Alpine js</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/tailwind-css.png"
                                    alt="tailwind-css">
                                Tailwind CSS</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/javascript.png" alt="javascript">
                                Javascript</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/jquery.png" alt="jquery">
                                Jquery</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/mysql.png" alt="mysql">
                                MySQL</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/php.png" alt="php">
                                PHP</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/laravel.png" alt="laravel">
                                Laravel</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/github.png" alt="git">
                                Git</span>
                            <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                                <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/bitbucket.png" alt="bitbucket">
                                Bitbucket</span>
                        </div>
                    </details>
                </div>
                <ul class="list-disc ml-7 mt-3 text-sm space-y-2">
                    <li class="text-justify">Developed and maintained a scalable web application using CSS, PHP, Laravel
                        and MySQL.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-span-2">
        <div class="flex items-start space-x-2">
            <svg class="w-9 h-9" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path fill="none" d="M0 0h24v24H0V0z"></path>
                <path
                    d="M12 3L1 9l4 2.18v6L12 21l7-3.82v-6l2-1.09V17h2V9L12 3zm6.82 6L12 12.72 5.18 9 12 5.28 18.82 9zM17 15.99l-5 2.73-5-2.73v-3.72L12 15l5-2.73v3.72z">
                </path>
            </svg>
            <div class="text-2xl font-semibold ">Skills</div>
        </div>
        <div class="mt-6 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-3">
            <div class="space-y-6">
                <h3 class="text-lg font-semibold">Front End</h3>
                <div class="flex flex-wrap gap-3">
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/vue-js.png" alt="vue-js">
                        Vue js</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/bootstrap.png" alt="bootstrap">
                        Bootstrap</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/react-js.png" alt="react-js">
                        React js</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/flutter.png" alt="flutter">
                        Flutter</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/javascript.png" alt="javascript">
                        Javascript</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/jquery.png" alt="jquery">
                        Jquery</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/alpine-js.png" alt="alpine-js">
                        Alpine js</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-7 h-9 pr-1" src="v1/assets/skill-icons/cocos2dx.png" alt="cocos2dx">
                        Cocos2dx</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/tailwind-css.png" alt="tailwind-css">
                        Tailwind CSS</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/livewire.ico" alt="livewire">
                        Livewire</span>
                </div>
            </div>
            <div class="space-y-6">
                <h3 class="text-lg font-semibold">Back End</h3>
                <div class="flex flex-wrap gap-3">
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/mysql.png" alt="mysql">
                        MySQL</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/php.png" alt="php">
                        PHP</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/laravel.png" alt="laravel">
                        Laravel</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/livewire.ico" alt="livewire">
                        Livewire</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/thinkphp.ico" alt="thinkphp">
                        ThinkPHP</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/lua.png" alt="lua">
                        Lua</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/python.png" alt="python">
                        Python</span>
                </div>
            </div>
            <div class="space-y-6">
                <h3 class="text-lg font-semibold">Server</h3>
                <div class="flex flex-wrap gap-3">
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/github.png" alt="git">
                        Git</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/bitbucket.png" alt="bitbucket">
                        Bitbucket</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/linux.png" alt="linux">
                        Linux</span>
                    <span class="flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                        <img class="w-6 h-6 pr-1" src="v1/assets/skill-icons/laravel-forge.png" alt="laravel-forge">
                        Laravel Forge</span>
                </div>
            </div>
        </div>
    </div>
</div>