<div class="flex flex-col items-center justify-between space-y-3">
    <div class="-mt-10 w-32 h-32 bg-blue-400">
        <img src="v1/assets/images/default.jpg" alt="">
    </div>
    <h1 class="text-3xl md:text-3xl lg:text-4xl font-semibold">Jemarc Ramos</h1>
    <h2 class="px-4 py-2 rounded-lg bg-gray-900 text-sm md:text-md">Full Stack Web Developer</h2>
    <div class="flex space-x-3">
        <div
            class="bg-gray-900 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] text-blue-600 hover:text-white p-3 rounded-lg">
            <a href="https://www.facebook.com/jemark.ramos.5" target="_blank">
                <svg class="w-4 h-4 " stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                    </path>
                </svg>
            </a>
        </div>
        <div
            class="bg-gray-900 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] text-blue-400 hover:text-white p-3 rounded-lg">
            <a href="https://www.linkedin.com/in/jemarc-ramos-949b341b4" target="_blank">
                <svg class="w-4 h-4" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                    </path>
                </svg>
            </a>
        </div>
    </div>
    <div class="px-3 w-full">
        <div
            class="flex flex-col space-y-3 bg-gray-900 px-5 py-2 md:py-4 divide-y divide-solid divide-gray-700 rounded-lg">
            <div class="flex space-x-3 pt-3">
                <span
                    class="text-purple-500 hover:text-white flex justify-center items-center bg-black hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] rounded-lg p-2">
                    <svg class="w-4 h-4" stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z">
                        </path>
                    </svg>
                </span>
                <div class="flex flex-col">
                    <span class="text-xs text-gray-300">Phone</span>
                    <a href="tel:+639760304271" class="text-sm md:text-sm lg:text-md hover:text-blue-300">+63 976 030
                        4271</a>
                </div>
            </div>
            <div class="flex space-x-3 pt-3">
                <span
                    class="text-red-500 hover:text-white flex justify-center items-center bg-black hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] rounded-lg p-2">
                    <svg class="w-4 h-4" stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z">
                        </path>
                    </svg>
                </span>
                <div class="flex flex-col">
                    <span class="text-xs text-gray-300">Location</span>
                    <span class="text-sm md:text-sm lg:text-md">Pangasinan, Paranaque</span>
                </div>
            </div>
            <div class="flex space-x-3 py-3">
                <span
                    class="text-green-500 hover:text-white flex justify-center items-center bg-black hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] rounded-lg p-2">
                    <svg class="w-4 h-4" stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M176 216h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16H176c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16zm-16 80c0 8.84 7.16 16 16 16h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16H176c-8.84 0-16 7.16-16 16v16zm96 121.13c-16.42 0-32.84-5.06-46.86-15.19L0 250.86V464c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V250.86L302.86 401.94c-14.02 10.12-30.44 15.19-46.86 15.19zm237.61-254.18c-8.85-6.94-17.24-13.47-29.61-22.81V96c0-26.51-21.49-48-48-48h-77.55c-3.04-2.2-5.87-4.26-9.04-6.56C312.6 29.17 279.2-.35 256 0c-23.2-.35-56.59 29.17-73.41 41.44-3.17 2.3-6 4.36-9.04 6.56H96c-26.51 0-48 21.49-48 48v44.14c-12.37 9.33-20.76 15.87-29.61 22.81A47.995 47.995 0 0 0 0 200.72v10.65l96 69.35V96h320v184.72l96-69.35v-10.65c0-14.74-6.78-28.67-18.39-37.77z">
                        </path>
                    </svg>
                </span>
                <div class="flex flex-col">
                    <span class="text-xs text-gray-300">Email</span>
                    <a href="mailto:jemarcramos11@gmail.com"
                        class="text-sm md:text-xs lg:text-md hover:text-blue-300 break-words">jemarcramos11@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex justify-center items-center mt-8">
    <button type="button" @click="downloadFile"
        class="rounded-full font-semibold px-5 py-3 bg-gradient-to-br hover:bg-gradient-to-tl from-[#20A2F0] via-[#353897] to-[#0E0F28]">Download
        Resume</button>
</div>