<div class="flex items-start space-x-2">
    <svg class="w-9 h-9" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path fill="none" d="M0 0h24v24H0V0z"></path>
        <path
            d="M12 3L1 9l4 2.18v6L12 21l7-3.82v-6l2-1.09V17h2V9L12 3zm6.82 6L12 12.72 5.18 9 12 5.28 18.82 9zM17 15.99l-5 2.73-5-2.73v-3.72L12 15l5-2.73v3.72z">
        </path>
    </svg>
    <div class="text-2xl font-semibold ">Skills</div>
</div>
<div class="mt-6 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-3">
    <div class="space-y-6">
        <h3 class="text-lg font-semibold">Front End</h3>
        <div class="flex flex-wrap gap-3">
            <a href="https://vuejs.org/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/vue-js.png" alt="vue-js">
                    Vue js</span>
            </a>
            <a href="https://getbootstrap.com/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/bootstrap.png" alt="bootstrap">
                    Bootstrap</span>
            </a>
            <a href="https://react.dev/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/react-js.png" alt="react-js">
                    React js</span>
            </a>
            <a href="https://flutter.dev/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/flutter.png" alt="flutter">
                    Flutter</span>
            </a>
            <a href="https://www.javascript.com/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/javascript.png" alt="javascript">
                    Javascript</span>
            </a>
            <a href="https://jquery.com/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/jquery.png" alt="jquery">
                    Jquery</span>
            </a>
            <a href="https://alpinejs.dev/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/alpine-js.png" alt="alpine-js">
                    Alpine js</span>
            </a>
            <a href="https://cocos2d-x.org/cocos2dx" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-7 h-9 pr-1" src="v1/assets/skill-icons/cocos2dx.png" alt="cocos2dx">
                    Cocos2dx</span>
            </a>
            <a href="https://tailwindcss.com/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/tailwind-css.png" alt="tailwind-css">
                    Tailwind CSS</span>
            </a>
            <a href="https://laravel-livewire.com/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/livewire.ico" alt="livewire">
                    Livewire</span>
            </a>
        </div>
    </div>
    <div class="space-y-6">
        <h3 class="text-lg font-semibold">Back End</h3>
        <div class="flex flex-wrap gap-3">
            <a href="https://www.mysql.com/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/mysql.png" alt="mysql">
                    MySQL</span>
            </a>
            <a href="https://www.php.net/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-9 h-9 pr-1" src="v1/assets/skill-icons/php.png" alt="php">
                    PHP</span>
            </a>
            <a href="https://laravel.com/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/laravel.png" alt="laravel">
                    Laravel</span>
            </a>
            <a href="https://laravel-livewire.com/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/livewire.ico" alt="livewire">
                    Livewire</span>
            </a>
            <a href="https://www.thinkphp.cn/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/thinkphp.ico" alt="thinkphp">
                    ThinkPHP</span>
            </a>
            <a href="https://www.lua.org/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/lua.png" alt="lua">
                    Lua</span>
            </a>
            <a href="https://www.python.org/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/python.png" alt="python">
                    Python</span>
            </a>
        </div>
    </div>
    <div class="space-y-6">
        <h3 class="text-lg font-semibold">Server</h3>
        <div class="flex flex-wrap gap-3">
            <a href="https://github.com/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-8 h-8 pr-1" src="v1/assets/skill-icons/github.png" alt="git">
                    Git</span>
            </a>
            <a href="https://bitbucket.org/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/bitbucket.png" alt="bitbucket">
                    Bitbucket</span>
            </a>
            <a href="https://www.linux.org/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-7 h-7 pr-1" src="v1/assets/skill-icons/linux.png" alt="linux">
                    Linux</span>
            </a>
            <a href="https://forge.laravel.com/" target="_blank">
                <span
                    class="transition duration-500 hover:scale-125 hover:bg-gradient-to-br from-[#20A2F0] via-[#353897] to-[#0E0F28] flex items-center bg-gray-900 px-4 py-2 rounded-full text-sm cursor-pointer">
                    <img class="w-6 h-6 pr-1" src="v1/assets/skill-icons/laravel-forge.png" alt="laravel-forge">
                    Laravel Forge</span>
            </a>
        </div>
    </div>
</div>